Flask==3.0.2  #flask development framework
flask-sqlalchemy
flask-migrate
environs==10.3.0 #utility to load and validate environment variables
redis==5.0.3
rq==1.16.1 
openai==1.14.2 #openai library to call openai
flask-login==0.6.3
flask-wtf==1.2.1
email-validator==2.1.1
flask-mail==0.9.1
pyjwt==2.8.0