{% extends "base.html" %}



{% block content %}
{% if user == current_user %}
<div class="bg-white shadow-lg rounded px-2 pt-4 pb-4 mb-2 w-96">
    <h1 class="text-lg font-bold">User: {{ user.username }}</h1>
    Phone: {{ user.phone }}<br />
    email: {{user.email}}<br />
    <div>&nbsp;<br />&nbsp;<p class="float-right">
            <a href="{{ url_for('profile.edit_profile') }}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded focus:outline-none">Edit
                profile</a>
        </p>
    </div>
</div>

{% endif %}
{% include '_article.html' %}
</div>
{% endblock %}