{% extends "base.html" %}



{% block content %}
{% if user == current_user %}
<div class="bg-white shadow-lg rounded px-2 pt-4 pb-4 mb-2 w-full max-w-sm">
    <h1 class="text-lg font-bold">User: {{ user.username }}</h1>
    Phone: {{ user.phone }}<br />
    email: {{user.email}}<br />
    <div class="flex justify-end mt-4 space-x-1">
        <a href="{{ url_for('profile.edit_profile') }}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 text-sm rounded focus:outline-none">Edit</a>
        <a href="{{ url_for('profile.organize_taxonomy') }}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 text-sm rounded focus:outline-none">Consolidate</a>
        <a href="{{ url_for('profile.suggest_splits', username=user.username) }}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 text-sm rounded focus:outline-none">Split</a>
        <a href="{{ url_for('profile.api_token') }}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 text-sm rounded focus:outline-none">API Token</a>
    </div>
</div>

{% endif %}
{% include '_article.html' %}
</div>
{% endblock %}