<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    {% if title %}
    <title>{{ title }} - Recap AI</title>
    {% else %}
    <title>Welcome to Recap AI</title>
    {% endif %}

</head>

<body class="">
    <div class="flex">
        <div class="flex-1 bg-red-500 px-[5px]" name="content">
            <div class="font-sans">Bacon ipsum dolor amet fatback andouille filet mignon venison short ribs, short loin
                jowl
                frankfurter. Frankfurter ribeye tongue pork belly cow. Chicken pork loin fatback burgdoggen hamburger.
                Venison pork loin meatball, beef boudin pork chop shank chislic short loin fatback tail tri-tip pork
                filet mignon.

                Chicken bacon turkey t-bone. Boudin andouille cow, kevin landjaeger kielbasa turkey flank ribeye tongue.
                Shank swine leberkas ham. Ground round cupim drumstick, ham ribeye turkey shank spare ribs pork rump.

                Biltong meatloaf turkey meatball, pastrami chicken sirloin rump shoulder chislic tongue spare ribs
                hamburger alcatra. Shankle pork pork loin ground round ribeye. Bacon pork belly buffalo kevin brisket
                pancetta turkey ground round bresaola boudin filet mignon chislic ribeye. Burgdoggen fatback pork loin
                picanha t-bone ham hock drumstick bacon hamburger tri-tip chuck venison turkey frankfurter chislic.
                Shank filet mignon ribeye porchetta turducken landjaeger. Corned beef leberkas pork ham hock biltong
                short ribs tail jowl venison brisket burgdoggen alcatra chicken swine.

                Shank short ribs frankfurter andouille shoulder. Meatloaf biltong shoulder ribeye, boudin tail sirloin
                prosciutto. Turkey frankfurter ground round turducken pork jerky. Meatball burgdoggen corned beef,
                shankle ground round andouille buffalo short ribs chuck. Leberkas shank drumstick ribeye chislic, rump
                doner meatball tail pork belly short ribs spare ribs frankfurter bresaola. Corned beef tongue kevin,
                burgdoggen cupim shank filet mignon tail kielbasa picanha landjaeger pastrami andouille.

                Ham jerky alcatra short ribs. Spare ribs jerky salami, landjaeger brisket shoulder pork loin corned beef
                picanha meatball. Biltong ball tip pork chop filet mignon sausage porchetta ribeye tail meatball beef
                ribs short loin. Boudin tri-tip andouille doner pork chop ball tip filet mignon biltong t-bone capicola
                kevin picanha turducken pancetta. Tail pancetta porchetta swine, ball tip beef ribs jerky.

                Does your lorem ipsum text long for something a little meatier? Give our generator a try… it's tasty!
            </div>
        </div>
        <div class="w-[180px] bg-blue-500 px-[5px] flex-none" name="sidebar">
            <ul>
                <li>Software Architecture</li>
                <li>Transformer architecture adaptation for images</li>
                <li>Attention mechanism in image processing</li>
            </ul>
        </div>
    </div>
</body>