{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<form action="" method="post" class="bg-white shadow-lg rounded px-2 pt-4 pb-4 mb-2">
    {{ form.hidden_tag() }}
    <div class="w-full">
        <h1 class="font-bold text-lg">{{ form.url_path.label }}</h1>
        <div class="flex gap-2">
            {{ form.url_path(class_="flex-1 min-w-0 w-full") }}
            {{ form.submit(class_="shrink-0") }}
        </div>
        {% for error in form.url_path.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
</form>



{% include '_article.html' %}

{% else %}
<h1>Hello and Welcome!</h1>
<div>We are building fast! comeback soon!</div>
{% endif %}
{% endblock %}