{% extends "base.html" %}



{% block content %}
{% if user == current_user %}
    <p><a href="{{ url_for('routes.edit_profile') }}">Edit your profile</a></p>
{% endif %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for article in articles %}
    <p>
        {% include '_article.html' %}
    </p>
    {% endfor %}
   <div>
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
    </div>
{% endblock %}